/*General*/
	body{
		background: url("../img/debut_light.png");
		font-family: 'PT Sans', sans-serif;
		margin: 0px;
	}

	input{
		margin-bottom: 20px;
		margin-top: 5px;
		font-size: 25px;
		width: 1000px;
	}


	textarea{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 25px;
		width: 1000px;
	}

	label{
		font-size: 40px;
	}

	#content{
		padding: 100px;
		padding-top: 50px;
		margin-left: 230px;
		overflow: scroll;
		height: 514px;
		width: 1003px;
		border: 2px solid black;
		position: relative;
		top: -47px;
		margin-bottom: -47px;
	}

	#formSubmit{
		width: 200px;
		height: 100px;
	}

/*Sidebar*/
	#sidebar{
		width: 230px;
		height: 666px;
		/*border: solid black 2px;*/
		float: left;
		/*position: fixed;*/
		background-color: #227736;
	}

	#sidebar *{
		margin-left: 2%;
	}

	#sidebar input{
		width: 90%;
		margin-bottom: 2px;
		/*margin-left: 5%;*/
	}

	#sidebar label{
		font-size: 20px;
	}

/*Header and Footer*/
	#header, #footer{
		background-color: #227736;
		color: #dddddd;
		width: 100%;
		height: 57px;
		margin-left: -10px;
	}

/*Header*/
	#header{
		position: relative;
		left: 10px;
	}

	#headerTitle{
		font-size: 35px;
		margin-left: 10px; 
	}

	#loggedInUser{
		margin-left: 15px;
		margin-right: 10px;
	}

	.headerTab{
		margin-top: 9px;
		margin-left: -7.5px;
		margin-right: 10.5px;
		padding-left: 41px;

		border-bottom: 2px solid black;

		float: right;

		height: 46px;
		width: 94px;

		background: url("../img/blogTab.png");

		color: #227736;
		position: relative;

		text-decoration: none;
	}

	.activeTab{
		border-bottom: none;
		top: 2px;
		z-index: 1;
	}

	#tabContainer{
		border-bottom: solid 1px white;
		position: relative;
		top: -45px;
	}

/*Footer*/
	#footer{
		position: relative;
		top: 100%;
		height: 53px;
		left: 10px;
	}

/*Posts Index*/
	.postTitle{
		font-weight: bold;
		font-size: 40px;
		text-decoration: none;
		color: black;
	}

	.postInfo{
		font-style: italic;
	}

	.postBody{
		font-size: 25px;
	}

	.pagination{
		margin-left: auto;
		margin-right: auto;
	}

	.pagination *{
		float: left;
		list-style: none;
		margin: 5px;
		color: black;
	}

